:root{
    --normal: #a0a2a0;
    --fighting: #fe8000;
    --flying: #82baef;
    --poison: #913fcc;
    --ground: #93501a;
    --rock: #b1ab82;
    --bug: #93a312;
    --ghost: #703f70;
    --steel: #61a2b8;
    --fire: #e72324;
    --water: #2481ef;
    --grass: #41a324;
    --electric: #fac100;
    --psychic: #ee3f7b;
    --ice: #3cd9fe;
    --dragon: #4f60e3;
    --dark: #4e3f3c;
    --fairy: #f070f0;
}

.full_content{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemon_image_box{
    display: flex;
}

.pokemon_image_box img{
    width: 120px;
}

.widget_box{
    background-image: url(..\..\assets\Image\App_image.png);
    width: 960px;
    height: 540px;
    background-size:contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
}

.screen_box{
    width: 530px;
    height: 300px;
    background-color: #ffffff;
    border: solid black 10px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
}

.splash_screen{
    position:absolute;
    background-color: #ffffff;
    width: 510px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.splash_screen img{
    width: 30%;
}

.splash_text{
    font-family: "PokemonGB";
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 30px;
}

.pokemon_image_box{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon_image_box img{
    width: 90%;
    height: 90%;
}

.pokemon_info_box{
    height: 100%;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section{
    padding-bottom: 15px;
}

.label{
    padding: 5px 13px;
    font-family: "PokemonGB";
}

.pokemon_name_box{
    padding: 5px 13px;
    font-family: "PokemonGB"
}

.pokemon_name_box::first-letter, .type_1_box::first-letter, .type_2_box::first-letter{
    text-transform: uppercase;
}

.pokemon_number_box{
    padding: 5px 13px;
    font-family: "PokemonGB"
}

.pokemon_type_section{
    padding-left: 13px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.type_container{
    display: flex;
    flex-direction: column;
}

.label_type{
    padding-bottom: 5px;
    font-family: "PokemonGB";
}

.type_1_box{
    font-family: "PokemonGB";
    color: #ffffff;
    border-radius: 10px;
    border: 4px #000000 solid;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    text-shadow: #000000;
}

.type_2_box{
    font-family: "PokemonGB";
    color: #ffffff;
    border-radius: 10px;
    border: 4px #000000 solid;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    text-shadow: #000000;
}

.button_box{
    width: 200px;
    height: 200px;
    display: flex;
}

.button{
    display: flex;
}

.button:hover{
    cursor: pointer;
}

.button img{
    width: 100%;
}

.normal{
    background-color: var(--normal);
    
}

.fighting{
    background-color: var(--fighting);
}

.flying{
    background-color: var(--flying);
}

.poison{
    background-color: var(--poison);
}

.ground{
    background-color: var(--ground);
}

.rock{
    background-color: var(--rock);
}

.bug{
    background-color: var(--bug);
}

.ghost{
    background-color: var(--ghost);
}

.steel{
    background-color: var(--steel);
}

.fire{
    background-color: var(--fire);
}

.water{
    background-color: var(--water);
}

.grass{
    background-color: var(--grass);
}

.electric{
    background-color: var(--electric);
}

.psychic{
    background-color: var(--psychic);
}

.ice{
    background-color: var(--ice);
}

.dragon{
    background-color: var(--dragon);
}

.dark{
    background-color: var(--dark);
}

.fairy{
    background-color: var(--fairy);
}